<!DOCTYPE html>
<html>
<head>
<style>
	.button {
		position: absolute;  
		top: 30%; 
		left: 50%; 
		transform: translate(-50%, -50%); 
		opacity: 0.5; 
		background-color: #555; 
		padding: 24px 48px; 
		border: none; 
		border-radius: 10px; 
		font-size: 40px;
	}

	.button:hover {background-color: #737373}

</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-image: url('https://www.ixplus.club/app/img/bg_screen_signup.jpg');background-repeat: no-repeat;background-size: cover;">

{% extends "main/header.html" %}
{% block content %}


  <div class="caption center-align" >

    <div style="position: relative; top: 30% ; display: block; margin-left: auto; top: 40%">
      <img src="https://www.ixplus.club/app/img/logo.png" width="100" height="100">
    </div>

		<button class="button" style="background-color: #26a69a">
			<a href="internet/signup" style = "color: white; font-size: 40px; ">Sign Up</a>
		</button>

<!-- 	<iframe width="840" height="630"
		src="https://www.youtube.com/embed/7TavVZMewpY?autoplay=1&cc_load_policy=1" allow="autoplay">
	</iframe>
  </div> -->

{% endblock %}
</body>