
{% extends "main/header.html" %}

{% block content %}

	<h2> You have signed up. </h2>
	<h5>This is landing page. Please visit any of these following misc pages</h5>
	<p> Your cookie_pid: {{cookie_pid}}</p>
   
  <div class="collection">
    <a href="internet/misc1" class="collection-item"><span class="badge">Cool Cars!</span>Car</a>
    <a href="internet/misc2" class="collection-item"><span class="new badge">4</span>Beauty</a>
    <a href="internet/misc3" class="collection-item">Tech</a>
    <a href="internet/misc4" class="collection-item"><span class="badge">New!!!</span>Art</a>
  </div>

{% endblock %}
