
{% extends "main/header.html" %}

{% block content %}
<div class="container">

	<h4> Hi there, </h4>
	<h4> Anything attracts you? </h4>
   
  <div class="collection">
  		<a href="/internet/internet/car" class="collection-item"><span class="badge">Cool Cars!</span>Car</a>
	   	<a href="/internet/internet/beauty" class="collection-item"><span class="new badge">4</span>Beauty</a>
	   	<a href="/internet/internet/art" class="collection-item"><span class="badge">New!!!</span>Art</a>
	   	<a href="/internet/internet/tech_science" class="collection-item">Tech & Science</a>
	   	<a href="/internet/internet/health" class="collection-item">Health</a>
	   	<a href="/internet/internet/entertainment" class="collection-item">Entertainment</a>
	   	<a href="/internet/internet/sports" class="collection-item">Sports</a>
  </div>
</div>
{% endblock %}
