/* screen panel styling */
section.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

section.pending-switch {
    z-index: 1;
    display: inline;
}

section.active {
    z-index: 2;
    display: inline;
}