<!DOCTYPE html>
<html>

<body>
    {% extends "main/header.html" %} {% block content %}

    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
    <span data-text="Hello!" style="position:relative;
	font-family:'Cookie',cursive;
  	font-size:100pt;
	color:#ba9186;
	z-index: 2;
	content: attr(data-text);
	left: -8px;
	top: -8px;
	color: #f6f7f8;
	text-shadow: 3px 3px #e8e3c7;
	">Art</span>
    <br><br>

    
{% include "main/includes/button.html" %}

    <div>
        <a href="https://ago.ca/support/fundraising-events/art-toronto-opening-night-2019" style="color: rgb(2, 3, 3); font-size: 30px;">ART TORONTO OPENING NIGHT 2019</a>
        <br><br>
        <a href="https://ago.ca/support/fundraising-events/art-toronto-opening-night-2019">
            <image style="width: 900px; height: 400px;" src="https://ago.ca/sites/default/files/styles/hero_slide_wide/public/2018-05/A-181587_0.jpg?h=9539f4d4&itok=rZGjjSWQ"></image>
        </a>
        <br><br>
    </div>

    {% endblock %}
</body>

</html>