<!DOCTYPE html>
<html>

<body>
    {% extends "main/header.html" %} {% block content %}

    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
    <span data-text="Hello!" style="position:relative;
	font-family:'Cookie',cursive;
  	font-size:100pt;
	color:#ba9186;
	z-index: 2;
	content: attr(data-text);
	left: -8px;
	top: -8px;
	color: #f6f7f8;
	text-shadow: 3px 3px #e8e3c7;
	">Beauty</span>
    <br><br>

{% include "main/includes/button.html" %}

    <div>
        <a href="https://www.sephora.com/happening/services/OLR-CD__makeover_mini_fenty?storeId=0508&startDate=2019-09-19T17:00:00Z&name=FREE%20MINI%20MAKEOVER%3A%20Level%20Up%20Your%20Fenty%20Face&city=Toronto&state=ON" style="color: black; font-size: 30px;">Sephora FREE MINI MAKEOVER: Level Up Your Fenty Face</a>
        <br><br>
        <image src="https://www.sephora.com/contentimages/happening/OLR-CD__makeover_mini_fenty.jpg"></image>

    </div>

    {% endblock %}
</body>

</html>