<!DOCTYPE html>
<html>

<body>
    {% extends "main/header.html" %} {% block content %}
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
    <span data-text="Hello!" style="position:relative;
	font-family:'Cookie',cursive;
  	font-size:100pt;
	color:#ba9186;
	z-index: 2;
	content: attr(data-text);
	left: -8px;
	top: -8px;
	color: #f6f7f8;
	text-shadow: 3px 3px #e8e3c7;
	">Business</span>
    <br><br>

    
<button type="button" style="
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
    background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
    background-color:#bddbfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:24px;
    font-weight:bold;
    padding:10px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;" onclick="window.location.href = 'https://www.ixplus.club/internet/signup/';">Add more interests</button> &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" style="
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
    background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
    background-color:#bddbfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:24px;
    font-weight:bold;
    padding:10px 85px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;" onclick="window.location.href = 'https://www.ixplus.club/app/';">I'm done!</button>
    <br><br>

    <div>
        <a href="https://www.canadianbusiness.com/lists-and-rankings/growth-500/2019-ranking-startup-50/" style="color: rgb(2, 3, 3); font-size: 30px;">TOP50 Startup</a>
        <br><br>
        <a href="https://www.canadianbusiness.com/lists-and-rankings/growth-500/2019-ranking-startup-50/">
            <image style="width: 900px; height: 400px;" src="https://www.canadianbusiness.com/wp-content/uploads/2019/09/STARTUP-50_BANNER_NAV.jpg"></image>
        </a>
        <br><br>
    </div>

    {% endblock %}
</body>

</html>