<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="car.css">
</head>

<body>

    {% extends "main/header.html" %} {% block content %}


    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
    <span data-text="Hello!" style="position:relative;
	font-family:'Cookie',cursive;
  	font-size:100pt;
	color:#ba9186;
	z-index: 2;
	content: attr(data-text);
	left: -8px;
	top: -8px;
	color: #e4ba46;
	text-shadow: 3px 3px #e8e3c7;
	">Cool Cars!</span>
    <br>

{% include "main/includes/button.html" %}

    <br>
    <div>
        <iframe width="700" height="400" src="https://www.youtube.com/embed/qvuvjEkeDAw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br>
        <iframe width="700" height="400" src="https://www.youtube.com/embed/8C_Ho2oxwzo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    {% endblock %}
</body>

</html>