<!DOCTYPE html>
<html>

<body>
    {% extends "main/header.html" %} {% block content %}

    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
    <span data-text="Hello!" style="position:relative;
	font-family:'Cookie',cursive;
  	font-size:100pt;
	color:#ba9186;
	z-index: 2;
	content: attr(data-text);
	left: -8px;
	top: -8px;
	color: #f6f7f8;
	text-shadow: 3px 3px #e8e3c7;
	">Health</span>
    <br><br>

 {% include "main/includes/button.html" %}

    <div>
        <a href="https://www.health.com/mind-body/iphone-11-design-trypophobia" style="color: rgb(2, 3, 3); font-size: 20px;">Apple's New iPhone Design is Triggering Trypophobia in Tons of People—Here's What That Means</a>
        <br><br>
        <a href="https://www.health.com/mind-body/iphone-11-design-trypophobia">
            <image style="width: 850px; height: 500px;" src="https://cdn-img.health.com/sites/default/files/styles/large_16_9/public/styles/main/public/gettyimages-1167261513.jpg?itok=nRr6diAk&1568215901"></image>
        </a>
        <br><br>
    </div>

    {% endblock %}
</body>

</html>